sem3/Pract3/lab.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="bookshelf">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="publisher" type="xs:string"/>
                <xs:element name="publishdate" type="xs:integer"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="location" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
